body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../img/bg-img/healthcare-login-bg.jpg');
}
.box2{
  width: 300px;
  padding: 25px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('../img/bg-img/login-form-bg.jpg');
  text-align: center;
}
.box2 h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box2 input[type = "email"],.box2 input[type = "text"],.box2 input[type = "password"],.box2 input[type = "number"]{
  display: block;
  margin: 8px auto;
  text-align: center;
  border: 2px solid #4f799c;
  padding: 10px 8px;
  width: 220px;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 15px;
}
.box2 input[type = "email"]:focus,.box2 input[type = "text"]:focus,.box2 input[type = "password"]:focus,.box2 input[type = "number"]:focus{
  width: 280px;
  border-color: #bacac1;
}
.box2 input[type = checkbox]{
  width: 15px;
  height: 15px;
}
.box2 span{
  color: aliceblue;
  font-size: 14px;
  bottom: 160px;
  position: initial;
}
.box2 input[type = "submit"]{
  display: block;
  margin: 8px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 40px;
  outline: none;
  color: white;
  background-color: #818080;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box2 input[type = "submit"]:hover{
  background: #2ecc71;
}
.box2 .message{
  color: aliceblue;
  font-size: 14px;
}
.box2 .message a{
  color: black;
  text-decoration: none;
}