body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../img/bg-img/healthcare-login-bg.jpg');
  background-color: black;
}
.box1{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url('../img/bg-img/login-form-bg.jpg');
  text-align: center;
}
.box1 h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box1 input[type = "email"],.box1 input[type = "password"]{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4f799c;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 15px;
}
.box1 input[type = "email"]:focus,.box1 input[type = "password"]:focus{
  width: 280px;
  border-color: #bacac1;
}
.box1 input[type = checkbox]{
  width: 15px;
  height: 15px;
}
.box1 span{
  color: aliceblue;
  font-size: 14px;
  bottom: 160px;
  position: initial;
}
.box1 .forgot a{
  color: #02021a;;
  text-decoration: none;
  font-size: 14px;
}
.box1 input[type = "submit"]{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  background-color: #818080;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box1 input[type = "submit"]:hover{
  background: #2ecc71;
}
.box1 .message{
  color: aliceblue;
  font-size: 14px;
}
.box1 .message a{
  color: black;
  text-decoration: none;
}